fastapi==0.115.5
uvicorn[standard]==0.32.0

# DB stack
SQLAlchemy==2.0.36
databases[postgresql]==0.9.0
asyncpg==0.30.0
psycopg[binary]==3.2.3

# Uploads / forms
python-multipart==0.0.9

# HTTP client
aiohttp==3.10.10
