@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  @apply bg-gradient-to-br from-purple-800 via-indigo-700 to-blue-600 text-gray-100;
}

.card {
  @apply bg-gray-900/60 backdrop-blur-lg rounded-2xl shadow-xl p-6 border border-gray-700/50;
}
