name: Build and Push Spokenarr Docker Images

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clear Docker build cache
        run: docker builder prune -af || true

      - name: Set up Docker Engine
        uses: docker/setup-docker-action@v3
        with:
          containerd-store: true # Enables the containerd image store

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3   

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: nate8727/spokenarr-api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: nate8727/spokenarr-web:latest
          build-args: |
            VITE_API_URL=http://spokenarr-api:80
          cache-from: type=gha
          cache-to: type=gha,mode=max
