name: Build and Push Spokenarr Docker Images

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clear build cache
        run: docker builder prune -af || true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push API image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: nate8727/spokenarr-api:latest

      - name: Build & push Web image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: nate8727/spokenarr-web:latest
          build-args: |
            VITE_API_URL=http://spokenarr-api:80
