name: Build and Push Spokenarr Docker Images

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build and push backend image
      - name: Build & push API image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: nate8727/spokenarr-api:latest
          cache-from: type=registry,ref=nate8727/spokenarr-api:cache
          cache-to: type=inline

      # Build and push frontend image
      - name: Build & push Web UI image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: nate8727/spokenarr-web:latest
          cache-from: type=registry,ref=nate8727/spokenarr-web:cache
          cache-to: type=inline
          build-args: |
            NODE_ENV=production
